body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: beige;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#gridContainer {
    display: grid;
    /*grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);*/
    border: 2px solid darkolivegreen;
    padding: 2px;
    gap: 2px;
    width: 100vmin;  /* Fixed width */
    height: 100vmin; /* Fixed height */
}

.square {
    background-color: #4CAF50;
    display: flex;
    flex-grow: 1;
    min-height: 0;
    min-width: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8em;
    border-radius: 5px;
}
